body {
  margin: 50px;
}

.grid {
  font-size: 40px;
}

.display-div {
  font-size: 20px;
}

.free {

}
.player1 {
  color: red;
}

.player2 {
  color: green;
}

.selected {
  border: 1px solid #000000;
}
